Scrape website lists.json
{
  "name": "WF 6 - Scrap website lists",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ],
      "id": "18a966e6-f55e-4d57-a7cc-15074ce0f27f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "= {{ $json[\"organization/website_url\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -16
      ],
      "id": "a3a4588a-a5f8-4aaf-92b3-7dafb48a9160",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1408,
        -16
      ],
      "id": "fe2ee560-f8ad-498c-b95b-e19c4a2b48c7",
      "name": "Markdown"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You're a helpful and intelligent website scrapping assistant, you specialise in dental sites. "
            },
            {
              "content": "Your task is to take as input a bunch of markdown data about a website.\nThis data is relatively unformatted. It is not super clean. All you have to do is take all of the data that you are given and then summarize the website in one paragraph. Explain what the website is, what they do, any pertinent information about the website that is non-standard or unique, and then output it in the following JSON format:\n{\n\"summary\":\"\" ,\n\"sanitizedPhoneNumber\":\"\",\n\"sanitizedEmailAddress\":\"\",\n}\n\nRules:\n- If no phone number or email address is present, leave those fields blank.\n- Always fill out summary "
            },
            {
              "content": "={{ $json.data }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "reasoning": {
            "reasoningOptions": {
              "effort": "low"
            }
          },
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1568,
        -16
      ],
      "id": "353086da-7d25-4199-baa8-a37868d07cb4",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "dh8fQjg4LXxcbmQ5",
          "name": "N8N-Nicktest"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8",
          "mode": "list",
          "cachedResultName": "n8n WF6 Website Database - of thethrivethread_100Leads_from three sector",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 55277537,
          "mode": "list",
          "cachedResultName": "Tech Startup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8/edit#gid=55277537"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        64
      ],
      "id": "9158753a-296b-4b8c-8931-d230781b8df5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wg8p5VtufQkz1q7n",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25805d77-9638-4120-a5bf-eed59a620d39",
              "leftValue": "={{ $json[\"organization/website_url\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        288,
        64
      ],
      "id": "6d66a895-4327-4404-b3e9-2d4ef37939e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 80
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        512,
        64
      ],
      "id": "3f62e794-d27b-4230-9c81-5d253eb16092",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3060d50-7d05-45d1-a690-e812ee9fbb29",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1184,
        -16
      ],
      "id": "10a1ee4d-9ee2-4b31-a472-08b88f6ae927",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8",
          "mode": "list",
          "cachedResultName": "n8n WF6 Website Database - of thethrivethread_100Leads_from three sector",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 55277537,
          "mode": "list",
          "cachedResultName": "Tech Startup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rqNrTW1KksBVNfvc5UIBua1DtzjKuvE7PAY-3InrWo8/edit#gid=55277537"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "organization/sanitized_phone": "={{ $json.output[0].content[0].text.sanitizedPhoneNumber }}",
            "organization/sanitized_email": "={{ $json.output[0].content[0].text.sanitizedEmailAddress }}",
            "organization/summary": "={{ $json.output[0].content[0].text.summary }}",
            "row_number": "= {{ $('Loop Over Items').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization/website_url",
              "displayName": "organization/website_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization/raw_address",
              "displayName": "organization/raw_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization/sanitized_phone",
              "displayName": "organization/sanitized_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization/sanitized_email",
              "displayName": "organization/sanitized_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization/summary",
              "displayName": "organization/summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Phone",
              "displayName": "Company Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company City",
              "displayName": "Company City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company State",
              "displayName": "Company State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        -16
      ],
      "id": "a6f77762-d672-4613-8b99-09b1a02b8283",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wg8p5VtufQkz1q7n",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        64
      ],
      "id": "5226d1a4-16ad-4405-ab89-1e30b3f51807",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        64
      ],
      "id": "25100fcf-5aa9-4c51-8f59-4e5785f19be7",
      "name": "Wait",
      "webhookId": "9edbd8d5-2817-4562-bd9a-f1fb3e242284"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2197fb26-d23f-474c-99a0-667ada25fff8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e6a6909dd0006d5ad15ebde0741e703aa26a1cbac60012a5ad70029f25bb3d9"
  },
  "nodeGroups": [],
  "id": "bQawFi3Za556ds6O",
  "tags": []
}