scrapping News.json
{
  "name": "Wf5 - scrapping Hacker News",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b2397baf-9802-415d-ba68-3d4887e7f447",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "ai"
            },
            {
              "name": "tags",
              "value": "story"
            },
            {
              "name": "hitsPerPage",
              "value": "1000"
            },
            {
              "name": "page",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        96
      ],
      "id": "a79707ad-24e8-478d-aa26-40ca4466e560",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "hits",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "403a9d28-d78f-434a-8584-b0aac1ed02ca",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ECJdNfU8QYI1Jh-XXvPsppCQ9JtdND6ftOkBd_A_RHE",
          "mode": "list",
          "cachedResultName": "n8n - wf5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ECJdNfU8QYI1Jh-XXvPsppCQ9JtdND6ftOkBd_A_RHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ECJdNfU8QYI1Jh-XXvPsppCQ9JtdND6ftOkBd_A_RHE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "objectID": "= {{ $json.objectID }}",
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "author": "={{ $json.author }}",
            "points": "={{ $json.points }}",
            "num_comments": "={{ $json.num_comments }}",
            "created_at": "={{ $json.created_at }}",
            "fetched_at": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "objectID",
              "displayName": "objectID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_comments",
              "displayName": "num_comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at",
              "displayName": "fetched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        96
      ],
      "id": "ed376967-97ca-4cbf-80e3-217c2ee6e529",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wg8p5VtufQkz1q7n",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "df1a4059-31d8-4c3a-bb3d-58178709e17a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at_i",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "448d1b39-e006-4907-b3ea-b7f523cb3789",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "0ca12bde-4feb-4b18-8f17-94771db1368a",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## other ways to manipulate data other than sorting, are limiting, pulling them one at a time with \"\"Loop over items\" if you feel like you will run into rates limit. In this case, no need because we are not dealing with an AI model in the nodes.",
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        448
      ],
      "typeVersion": 1,
      "id": "a9f99aff-1cd6-454c-9557-2249bc900ae4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        640
      ],
      "id": "757de99e-6f11-4891-8b4e-ac61f93c90a3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "4d3ef377-9e4c-41e1-874d-9e8a81b47e99",
      "placeholder": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "748a6229-7caf-40eb-86c8-5e9ad6a36b9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e6a6909dd0006d5ad15ebde0741e703aa26a1cbac60012a5ad70029f25bb3d9"
  },
  "nodeGroups": [],
  "id": "FppmjSuRgNsKwAqJ",
  "tags": []
}